/*body {background-color:rgb(130, 130, 130); }
.topper {text-align: center;font-size: 55px;}
img {padding-bottom: 25px; padding-top: 15px;}
.pic {transform: scale(.8);}
/*#schedule {color: #247BA0;}*/
/*.smaller {font-size: 40px; color: #247BA0;}
.bigger {font-size: 70px;}
.purple-text{color: purple;}*/*/
body {text-align: center;}
.ugly, .beautiful, button {width: 250px}
.ugly {background-color: rgb(25, 42, 133);
  border: 20px solid red;
border-top: 5px solid blue;}
.beautiful {
  background: transparent;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: all .3s ease;}
 button > span {font-size: 50px;}
 .beautiful:hover {
   transform: scale(2) rotate(45deg);
   border-color: red;
 }
 body {font-family: 'Josefin Sans', sans-serif;}
